html {
  background: url('/milkovi.jpg') no-repeat center center fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}

a {
  text-decoration: none;
  color: #000;
}

a:link {
  text-decoration: none;
}

.App {
  text-align: center;
}

.feature {
  background-color: rgb(244, 244, 244, .85);
  padding: 10px;
  margin: 5px;
  border: 3px solid #067f2e;
  border-radius: 10px;
  overflow: hidden;
  position: relative;
}

.displayText {
  color: rgb(237, 252, 242);
}

.largeText {
  font-size: 2rem;
}

.navLink {
  color: #000;
  cursor: pointer;
  display: inline;
  margin: 25px;
  text-decoration: none;
}

.link {
  text-decoration: none;
}

.wrapper {
  background: url('/milkovi.jpg') no-repeat center center fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}

.eventsContainer {
  width: 100%;
  height: auto;
  margin: 0 auto;
  overflow: auto;
}

.event-feature {
  float: left;
  width: 31%;
  height: 375px;
  position: relative;
}

.active-icon {
  position: absolute;
  bottom: 10px;
  right: 10px;
}

.display-logo {
  position: absolute;
  top: 10px;
  right: 10px;
}
